---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

<blockquote>Welcome! This blog exists as an expression of my personal interest, and a space for sharing thoughts and ideas. It does not serve as homework for someone. Posts may be updated based on new inspirations, experience, or simply my thoughts. Anyway, feel free to browse, and thanks for your visiting!</blockquote>

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
